<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.sensiblesolutions.ssncomfortsupport" version="0.0.1">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <name>SenseSoft Notifications Comfort Support</name>
  <description>Support plugin to the SenseSoft Notifications Comfort app</description>
  <author>Sensible Solutions</author>
  <keywords>sensible solutions,sensesoft,cordova</keywords>
  <license>No license</license>
  <js-module src="www/ssncomfortsupport.js" name="SsnComfortSupport">
    <clobbers target="window.ssncomfortsupport" />
  </js-module>
  <!-- <asset src="www/res" target="res" /> -->		<!-- Directory to be copied to the Cordova app's www directory -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SsnComfortSupportPlugin">
        <param name="android-package" value="com.sensiblesolutions.ssncomfortsupport.SsnComfortSupportPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <!-- <framework src="com.android.support:support-v4:+" /> -->		<!-- Android support v4 framework -->
    <source-file src="src/android/SsnComfortSupportPlugin.java" target-dir="src/com/sensiblesolutions/ssncomfortsupport" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
    	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
	<!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
	
      	<!-- <uses-permission android:name="android.permission.BLUETOOTH"/>
      	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
      	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
      	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-feature android:name="android.hardware.vibrate" android:required="false"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-feature android:name="android.hardware.location.network" android:required="true"/> -->
    </config-file>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="SsnComfortSupportPlugin">
        <param name="ios-package" value="SsnComfortSupportPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <!-- <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>bluetooth-peripheral</string>
      </array>
    </config-file> -->
    <header-file src="src/ios/SsnComfortSupportPlugin.h" />
    <source-file src="src/ios/SsnComfortSupportPlugin.m" />
    <!-- <resource-file src="www/res/sounds/alarm.mp3" target="Resources/alarm.mp3" /> -->
    <!-- <framework src="CoreBluetooth.framework" /> -->
  </platform>
  <info>This plugin adds various features needed by the SenseSoft Notifications Comfort app</info>
</plugin>
